// .team__paragraph{
//     text-align: center;
//     margin: 0 112px;
//     line-height: 24px;
// }

// .team-list{
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: justify;
//         -ms-flex-pack: justify;
//             justify-content: space-between;
// }

// .team-list__item{
//     position: relative;
// }

// .team-list__item:hover .team-list__img{
//     -webkit-transition: 200ms linear;
//     -o-transition: 200ms linear;
//     transition: 200ms linear;
//     -webkit-transform: translate(-10px, -10px);
//         -ms-transform: translate(-10px, -10px);
//             transform: translate(-10px, -10px);
//     -webkit-box-shadow: 10px 10px 0 $light-blue-color;
//             box-shadow: 10px 10px 0 $light-blue-color;
// }

// .team-list__name{
//     font-weight: 14px;
//     color: $brown-text-color;
//     text-transform: uppercase;
//     text-align: center;
//     margin: 38px 0 14px;
// }

// .team-list__occupation{
//     font-family: $text-font;
//     font-weight: 300;
//     font-style: italic;
//     font-size: 15px;
//     color: $light-brown-color;
//     line-height: 24px;
//     text-align: center;
//     margin: 0;
// }


// .team-overlay{
//     opacity: 0;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 380px;
//     height: 470px;
//     display: block;
//     background: -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138, .9)), to(rgba(243,129,129, .9)));
//     background: -o-linear-gradient( bottom, rgba(252,227,138, .9) 0%, rgba(243,129,129, .9) 100%);
//     background: linear-gradient( 0deg, rgba(252,227,138, .9) 0%, rgba(243,129,129, .9) 100%);
// }

// .team-overlay-list{
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//         -ms-flex-pack: center;
//             justify-content: center;
//     height: 470px;
//     -webkit-box-align: center;
//         -ms-flex-align: center;
//             align-items: center;
// }

// .team-overlay__item{
//     width: 56px;
//     height: 56px;
//     background-color: $yellow-color;
// }

// .team-overlay__item:not(:last-child){
//     margin-right: 1px;
// }

// .sprite-socials{
//     width: 32px;
//     height: 32px;
//     fill: $pink-color;
//     display: block;
//     margin: 0 auto;
//     margin-top: 12px;
// }

// .team-overlay__item:hover .sprite-socials{
//     fill: $white-color;
// }

// .team-overlay__item:hover{
//     background-color: $pink-color;
// }


// .team-list__item:hover .team-overlay{
//     z-index: 1;
//     opacity: 1;
//     -webkit-transition: 200ms linear;
//     -o-transition: 200ms linear;
//     transition: 200ms linear;
//     -webkit-transform: translate(-10px, -10px);
//         -ms-transform: translate(-10px, -10px);
//             transform: translate(-10px, -10px);

// }

// .team-list{
//     padding: 90px 0 80px;

// }

.team__paragraph{
    text-align: center;
    margin: 0 112px;
    line-height: 24px;
}

.team-list{
    padding: 90px 0 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            
    &__item{
        position: relative;
    }
    &__item:hover{
        .team-list__img{
           -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 0 $light-blue-color;
            box-shadow: 10px 10px 0 $light-blue-color; 
        }
        .team-overlay{
            z-index: 1;
    opacity: 1;
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
        }
    }
    &__name{
        font-weight: 14px;
    color: $brown-text-color;
    text-transform: uppercase;
    text-align: center;
    margin: 38px 0 14px;
    }
    &__occupation{
        font-family: $text-font;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: $light-brown-color;
    line-height: 24px;
    text-align: center;
    margin: 0;
    }
}


.team-overlay{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 380px;
    height: 470px;
    display: block;
    background: -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138, .9)), to(rgba(243,129,129, .9)));
    background: -o-linear-gradient( bottom, rgba(252,227,138, .9) 0%, rgba(243,129,129, .9) 100%);
    background: linear-gradient( 0deg, rgba(252,227,138, .9) 0%, rgba(243,129,129, .9) 100%);
    
    &-list{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 470px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    
    &__item{
         width: 56px;
    height: 56px;
    background-color: $yellow-color;
    }
    
    &__item:not(:last-child){
        margin-right: 1px;
    }
}

.sprite-socials{
    width: 32px;
    height: 32px;
    fill: $pink-color;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
}

.team-overlay__item:hover{
    background-color: $pink-colorpink;
    .sprite-socials{
        fill: $white-color;
    }
}

